@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    scroll-behavior: smooth;
    padding: 0;
}

body {

    background: rgb(22, 34, 97);
    background: radial-gradient(circle, rgba(22, 34, 97, 1) 0%, rgba(8, 16, 50, 1) 66%);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

header {
    width: 100%;
    height: 5vh;
    align-items: center;
    display: flex;
    position: fixed;
    z-index: 10;
    padding: 5px;


}

h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    font-size: 2rem;
    font-weight: 400;
}

.navBackground {
    background: rgba(5, 22, 85, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.logo-group {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.logo-group>img {
    width: 5%;
}

.logo-group>p {
    font-size: 1.5rem;
    font-weight: 800;
}

header>nav {
    width: 100%;
    padding-inline: 5%;

}

header nav ul {
    z-index: 1;
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    font-weight: 200;
    font-size: 1rem;

}

.nav-group {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

header nav ul a {
    text-decoration: none;
    transition: 0.1s;
}

header nav ul a:hover {
    color: #6ECAFF;
    scale: 1.1;
    font-weight: 400;
    transition: 0.1s;
}

.isOnScreen {
    color: #6ECAFF;
    scale: 1.1;
    font-weight: 400;
    transition: 0.1s;
    pointer-events: none;
}

main>.background {

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}



.homeContent {
    display: flex;
    padding-inline: 5%;
    height: 80%;
    align-items: center;
}

.home-left-section>h1 {
    color: #2D86F4;
    font-size: 2rem;
    margin-bottom: 1%;

}

.bolder {
    font-size: 2.5rem;
    font-weight: 800;

}

.lighter {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 10px;

}

.home-left-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    padding-left: 5%;
}

.home-desc {
    margin-top: 3%;
    width: 80%;
    font-size: 1.2rem;
}

.home-right-section {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-right-section>.desk-pic {

    object-fit: cover;
    height: 80%;
    width: auto;
}

.home-right-section>.mobile-pic {

    display: none;
}

.cta-group {
    display: flex;
    gap: 5%;
    margin-top: 5%;
}

.cta {
    background: #2D86F4;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 300;
    cursor: pointer;
}

.cta:hover {
    background: rgb(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: rgba(10, 1, 46, 1);
    font-weight: 500;
    cursor: pointer;
}

.cta-outlined {
    background: none;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    font-weight: 300;
    transition: 0.2s;
    cursor: pointer;
}

.cta-outlined:hover {
    background: rgb(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: rgba(10, 1, 46, 1);
    transition: 0.2s;
    font-weight: 500;
    cursor: pointer;
}



.icons {
    margin-top: 10%;
    display: flex;
    gap: 100px;
    justify-content: start;

}

.icons>a {
    scale: 1.5;
    transition: ease-in-out 0.2s;
    padding: 5px;
}

.icons>a:hover {
    scale: 2;
    transition: ease-in-out 0.2s;
    cursor: pointer;

}

.icons>a:hover>i {
    color: #6ECAFF
}

@media (max-width: 1100px) {

    nav,
    header {
        display: none;
    }

    .home-right-section> {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .homeContent {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-inline: 0.5%;
    }

    .home-left-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: center;
        align-items: center;
        padding-left: 0;
        height: 45%;
    }

    .home-desc {
        display: none;
    }

    .home-right-section>.desk-pic {

        display: none;
    }

    .home-right-section>.mobile-pic {

        display: flex;
        margin: 0 auto;
        max-width: 300px;
        justify-content: center;
    }

    .cta-group {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 5%;
        margin-top: 10%;
    }

    .icons {
        width: 80%;
        display: flex;
        gap: 20%;
        justify-content: center;
    }
}


.resumeButton:hover {
    background: rgb(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: rgba(10, 1, 46, 1);
    transition: 0.2s;
    font-weight: 500;
    cursor: pointer;
}




.card {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 45vh;
    width: 20%;
    padding: 50px;

}




/* projects */

.projects {
    height: fit-content;
    padding: 5%;
    text-align: start;
}

.carousel-container {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.carousel-slide {
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    min-width: 300px;
    max-width: 500px;
    height: 500px;
    transition: transform 0.5s ease;
    transition: 0.2s;
    z-index: 2;
    overflow: hidden;
    flex-direction: column;
}


.carousel-slide:hover {

    transition: 0.2s;
    background: rgba(255, 255, 255, 0.032);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 0;
}

.carousel-slide-img-container {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.carousel-slide-img-container>img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

@media (max-width: 1521px) {
    .title-container {
        display: flex;
        flex-direction: column;
        align-items: start !important;
    }
}

@media (max-width: 1000px) {

    .projects {
        height: fit-content;
        padding-inline: 5%;
        text-align: start;
    }

    .carousel-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-direction: column;
    }

    .carousel-slide {
        width: 100%;
        height: fit-content;
    }

    .carousel-slide-img-container {
        width: 100%;

    }

    .carousel-slide-img-container>img {
        width: 100%;
    }
}

.title {
    font-weight: 400;
    font-size: 1.2rem;
}

.descText {
    padding: 20px;
    height: 100%;
    display: flex;
}


.links {
    display: flex;
    margin-top: 30px;

    gap: 20px;
    transition: 0.2s;

}

.links>a:hover>button>i {
    color: rgba(8, 16, 50, 1);
    scale: 1;
    transition: 0.2s;

}



.title-container {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: start;
    margin-bottom: 20px;


}

.techno-container {
    display: flex;
    justify-content: center;
    gap: 10px;


}

.projectsText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.techno {
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 0.8rem;
}



.skills {
    height: 100vh;
    padding: 100px;
    text-align: start;
}

.skills-container {
    padding-inline: 5%;
}

.skill {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 100px
}

.skill-icon {
    width: 90px;
    height: 90px;
    text-align: center;
}

.skill-icon>img {
    width: 100%;
    border-radius: 100%;
}

.outlined {
    border: 1px solid white;
    border-radius: 100%;
    width: 100%;
    height: 100%;
}

@media (max-width: 1000px) {
    .skills {
        height: fit-content;
        padding-inline: 5%;
        text-align: start;
    }

    .skills-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0;
    }

    .skill {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 100px;
    }

    .skill-icon {
        display: flex;
        align-items: center;
        flex-direction: column;

        justify-content: center;
        width: 50px;
        height: 50px;
    }

    .skill-icon>img {
        width: 100%;
    }

    .outlined {
        border: 1px solid white;
        border-radius: 100%;
        width: 100%;
        height: 100%;
    }
}

/* /timeLine/ */




.timeline {

    height: fit-content;
    padding: 100px;
    text-align: start;
}



.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    box-sizing: border-box;
}

.container.left {
    left: 0;
}

.container.right {
    left: 50%;
}

.subtitle {
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 10px;

}

.ref-logo>img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.container.left::after {
    content: "";
    position: absolute;
    width: 15px;
    right: 0px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    top: 50%;
    z-index: 1;
}

.container.right::before {
    content: "";
    position: absolute;
    width: 15px;
    left: 0px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    top: 50%;
    z-index: 1;
}


.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: relative;
    border-radius: 6px;
}

.content h2 {
    font-size: 1.5em;
    margin: 0 0 10px;
}





/* Media Queries for responsive design */
@media (max-width: 1100px) {


    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    .container.right {
        left: 0;
        width: 100%;
    }

    .container.left {
        left: 0;
        width: 100%;
    }

    .container::after {
        display: none;
    }

    .right::after {
        display: none;
    }

    .content {
        padding: 15px 20px;
    }

    .content h2 {
        font-size: 1.2em;
    }

    .container.left::after {
        display:none;
    }
    
    .container.right::before {
        display:none;
    }
}

@media (max-width: 600px) {
    .timeline {
        padding: 5%;
        overflow: hidden;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .content {
        display: flex;
        flex-direction: column-reverse;
        gap: 15px;
        
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .content h2 {
        font-size: 1em;
    }
}



.contact {
    height: 100vh;
    padding: 100px;
    text-align: start;
    overflow: hidden;
}

.contactCard {
    display: flex;
    justify-content: center;
    max-width: 100%;
}



.contactCard>.card>h2 {
    margin-top: 50px;
}

.cardNav {
    display: flex;
    justify-content: center;
    gap: 100px;

}

.contactCard>.card {
    max-width: 800px;
    min-width: 300px;
    height: fit-content;
    text-align: center;
}
.contactCard>.card>div>img {
    max-width: 200px;
}

.contact>.card>h2 {
    margin-bottom: 50px;
}

.cardNav>div>a>i {
    scale: 2;
    transition: 0.2s;
}

.cardNav>div>a:hover>i {
    color: #6ECAFF;
    scale: 2.5;
    transition: 0.2s;
}

.cardNav {
    margin-top: 100px;
}

@media ( max-width: 900px){
    .contact {
        padding: 5%;
    }
    .contactCard>.card {
        width: 80%;
    }
    .card {
        width: 80%;
    }

}